[Unit]
Description=controll mpd api server
After=network-online.target

[Service]
ExecStart=/home/app/mochi/run.sh
ExecStop=/bin/kill -INT ${MAINPID}
Restart=always
User=app

[Install]
WantedBy=multi-user.target
